<div class="article roundCorner <%= if (i == 0) then ("featured") else ("") end %> ""> 
	<div class="articleImg">
		<img src="/images/articleIcon.png">
	</div>
	<div class=" <%= if (i == 0) then ("featuredText") else ("articleText") end %> ">
		<h3><a href="<%= post.info["content"] %>"><%= post.info["title"] %></a></h3>
	</div>
</div>