<div class="header">

	<div class="logo">
		<a href="/"><img src="/images/logo.png" alt="Upvoter"></a>
	</div>

	<div class="login">
		<a href="/login">Login</a>
		<span>&nbsp;  |  &nbsp;</span>
		<a href="#">Sign Up</a>
	</div>

</div>