<div class="header">

	<div class="logo">
		<a href="/"><img src="/images/logo.png" alt="Upvoter"></a>
	</div>

	<div class="login">
		<a href="/login" id="login">Login</a>
		<span>&nbsp;  |  &nbsp;</span>
		<a href="#" id="signUp">Sign Up</a>
	</div>

</div>