<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvote</title>
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<div class="header">
			<h1 class="logo"><img src="" alt="Upvoter"></h1>
			<div class="login">Login | Sign Up</div>
		</div>

		<div class="bodyContent">

			<div class="articles">
				<div class="featured roundCorner">
					<div class="featuredImg">
						<img src="/images/articleIcon.png"> 
					</div>
					<div class="featuredText">
						FEATURED
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 01</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 02</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 03</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 04</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 05</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 06</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 07</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 08</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 09</a></h3>
					</div>
				</div>
			</div>

			<div class="sideBars">
				
				<div class="userSideBar sidebarBox roundCorner">
					<div class="searchBox">
						<form id="newsearch" method="get" action="http://www.google.com">
						        <input type="search" id="searchBar" placeholder="Search...">
						        <input type="button">
						</form>
					</div>
				</div>

				<div class="profPic sidebarBox roundCorner"></div>

				<div class="lowerSideBar sidebarBox roundCorner">
					LOWER SIDE BAR
				</div>
			</div>
		</div>

		<div class="footer">
		</div>

	</body>
</html>





