<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvoter</title>
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<div class="header">
			<div class="logo">
				<a href="/"><img src="/images/logo.png" alt="Upvoter"></a>
			</div>
			<div class="login">
				<a href="#">Login</a>
				<span>&nbsp;  |  &nbsp;</span>
				<a href="#">Sign Up</a>
			</div>
		</div>

		<div class="bodyContent">

			<div class="articles">
				<div class="featured roundCorner">
					<div class="featuredImg">
						<img src="/images/articleIcon.png"> 
					</div>
					<div class="featuredText">
						<a href="#">FEATURED</a>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 01</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 02</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 03</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 04</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 05</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 06</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 07</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 08</a></h3>
					</div>
				</div>
				<div class="article roundCorner">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h3><a href="#">ARTICLE 09</a></h3>
					</div>
				</div>
			</div>

			<div class="sideBars">
				
				<div class="userSideBar sidebarBox roundCorner">
					<div class="searchBox">
						<form id="newsearch" method="get" action="http://www.google.com">
						        <input type="search" class="selected" id="searchBar" placeholder="Search...">
						        <input type="button" class="selected" id="searchButton">
						</form>
					</div>
					<div class="underSearch">
						<div class="sortByBlock">
							<span>Sort by - </span>
							<select id="sortBy" class="selected">
							  <option value="popular">Popular</option>
							  <option value="topRated">Top Rated</option>
							  <option value="newest">Newest</option>
							</select>
						</div>
						<input type="button" value="New Post" class="roundCorner selected" id="newPostButton">
					</div>
				</div>

				<div class="userSideBar sidebarBox roundCorner"></div>

				<div class="lowerSideBar sidebarBox roundCorner">
					LOWER SIDE BAR
				</div>
			</div>
		</div>

		<div class="footer">
		</div>

	</body>
</html>





