<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvote</title>
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<div class="header">
			<h1 class="logo"><img src="" alt="Upvoter"></h1>
			<div class="login">Login | Sign Up</div>
		</div>

		<div class="bodyContent">

			<div class="articles">
				<div class="featured">
					<div class="featuredImg">
						<img src="/images/articleIcon.png"> 
					</div>
					<div class="featuredText">
						FEATURED
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						<h2><a href="...">ARTICLE 01</a></h2>
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 02
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 03
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 04
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 05
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 06
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 07
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 08
					</div>
				</div>
				<div class="article">
					<div class="articleImg">
						<img src="/images/articleIcon.png">
					</div>
					<div class="articleText">
						ARTICLE 09
					</div>
				</div>
			</div>

			<div class="sideBars">
				
				<div class="userSideBar">
					<div class="searchBar">
						<form id="tfnewsearch" method="get" action="http://www.google.com">
						        <input type="search" id="searchBar" placeholder="Search...">
						        <input type="button">
						</form>
					</div>
				</div>

				<div class="profPic"></div>

				<div class="lowerSideBar">
					LOWER SIDE BAR
				</div>
			</div>
		</div>

		<div class="footer">
		</div>

	</body>
</html>





