<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Upvoter</title>
		<link rel="stylesheet" href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,400" rel="stylesheet">
		<script type="text/javascript" src="/javascripts/modal.js"></script>
		<script type="text/javascript" src="/javascripts/upvote_button.js"></script>
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>
	
		<%= erb :header %>

		<div class="bodyContent">

			<div class="articles">

				<% if @page_of_posts %>
					<% @page_of_posts.each_with_index { |post, i| %>

					   <%= erb :article, :locals => {:post => post, :featured => (i == 0 && @cur_page == 1), :user => @user, :pg => @cur_page, :sort => @sort} %>
					   
					<% } %>
				<% else %>
					<p>There are no posts to display.</p>
				<% end %>

			</div>

			<div class="sideBars">
				
				<div class="userSideBar sidebarBox roundCorner">

					<div class="searchBox">
						<form id="newsearch" method="get" action="http://www.google.com">
					        <input type="search" class="selected" id="searchBar" placeholder="Search...">
					        <input type="button" class="selected" id="searchButton">
						</form>
					</div>

					<div class="underSearch">

						<div class="sortByBlock">
							<span>Sort by - </span>
							<select id="sortBy" class="selected">
							  <option value="popular">Popular</option>
							  <option value="topRated">Top Rated</option>
							  <option value="newest">Newest</option>
							</select>
						</div>

						<form id="newPostForm" action="/newPost">
							<input type="submit" value="New Post" class="roundCorner selected" id="newPostButton">
						</form>

					</div>
				</div>

				<div class="userSideBar sidebarBox roundCorner">
					<span><a href="#">Log in</a> or <a href="#">sign up</a> to see your profile information.</span>
				</div>

				<div class="lowerSideBar sidebarBox roundCorner">
					<span>LOWER SIDE BAR</span>
				</div>
			</div>
		</div>

		<!-- ALL MODALS BACKGROUND -->
		<div id="modalBackground" class="modalFullScreen modalBackground" style="display: none;"></div>

		<!-- NEW POST MODAL -->
		<div class="modalFullScreen modal" id="newPostModal" style="display: none;">
			<div class="modalWindow">

				<div class="modalHeader">
					<h1>New Post</h1>
				</div>

				<div class="modalContent">

					<form class="newPostForm" method="post" action="/newPost">
						<div class="articleLine">
							<span>Title:</span>
							<input type="text" name="title" class="selected" placeholder="Article title...">
						</div>
						
						<br>
						<div class="articleLine bottomLine">
							<span>Link:</span>
							<input type="text" name="content" class="selected" placeholder="Article link...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
					
				</div>
			</div>
		</div>

		<!-- LOGIN MODAL -->
		<div class="modalFullScreen modal" id="loginModal" style="display: none;">
			<div class="modalWindow">

				<div class="modalHeader">
					<h1>Log In</h1>
				</div>

				<div class="modalContent">

					<form class="newPostForm">
						<div class="articleLine">
							<span>Username:</span>
							<input type="text" name="loginUsername" class="selected" placeholder="Username...">
						</div>
						
						<br>
						<div class="articleLine bottomLine">
							<span>Password:</span>
							<input type="password" name="loginPassword" class="selected" placeholder="Password...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
					
				</div>
			</div>
		</div>

		<!-- SIGN UP MODAL -->
		<div class="modalFullScreen modal" id="signUpModal" style="display: none;">
			<div class="modalWindow">

				<div class="modalHeader">
					<h1>Sign Up</h1>
				</div>

				<div class="modalContent signUpContent">

					<form class="newPostForm">
						<div class="signUpLine">
							<span>Username:</span>
							<input type="text" name="signUpUsername" class="selected" placeholder="Username...">
						</div>
						
						<br>
						<div class="signUpLine">
							<span>First Name:</span>
							<input type="text" name="signUpFName" class="selected" placeholder="First Name...">
						</div>

						<br>
						<div class="signUpLine">
							<span>Last Name:</span>
							<input type="text" name="signUpLName" class="selected" placeholder="Last Name...">
						</div>

						<br>
						<div class="signUpLine">
							<span>Password:</span>
							<input type="password" name="signUpPassword" class="selected" placeholder="Password...">
						</div>

						<br>
						<div class="signUpLine bottomLine">
							<span>Re-enter Password:</span>
							<input type="password" name="signUpPasswordVerify" class="selected" placeholder="Password...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
					
				</div>
			</div>
		</div>

		<%= erb :footer %>

	</body>
</html>





