<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<link rel="stylesheet" href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<%= erb :header %>

		<div class="modalContent">
			<div class="postPageContent roundCorner">

				<div class="postPageTitle">
					<h1>Log In</h1>
					<!-- <p><%= "Username or Password is incorrect, please try again." if @error %></p> -->
					<% if @err == true %>
						<p class="loginError">Username or Password is incorrect, please try again.</p>
					<% end %>
				</div>

				<div class="modalContent">
				
					<form class="newPostForm" method="post" action="/login">
						<div class="titleLine">
							<span>Username:</span>
							<input type="text" name="username" class="selected" placeholder="Username...">
						</div>
						
						<br>
						<div class="articleLine">
							<span>Password:</span>
							<input type="text" name="password" class="selected" placeholder="Password...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitLogin" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
				</div>
			</div>
		</div>

		<%= erb :footer %>

	</body>
</html>