<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>New Post</title>
		<link rel="stylesheet" href="/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<script type="text/javascript" src="/javascripts/modal.js"></script>
		<script type="text/javascript" src="/javascripts/upvote_button.js"></script>
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<%= erb :header %>

		<div class="newPostContent">
			<div class="postPageContent roundCorner">

				<div class="postPageTitle">
					<h1>New Post</h1>
				</div>

				<div class="modalContent">
				
					<form class="newPostForm" method="post" action="/newPost">
						<div class="titleLine">
							<span>Title:</span>
							<input type="text" name="title" class="selected" placeholder="Article title...">
						</div>
						
						<br>
						<div class="articleLine">
							<span>Link:</span>
							<input type="text" name="content" class="selected" placeholder="Link to the article...">
						</div>

						<br>
						<div id="submitButton">
							<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
						</div>
						
					</form>
				</div>
			</div>
		</div>

		<%= erb :footer %>

	</body>
</html>