<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>New Post</title>
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" src="/scripts.js"></script>
	</head>

	<body>

		<%= erb :header %>

		<div class="newPostContent">

			<div class="postPageTitle">
				<h1>New Post</h1>
			</div>

			<div class="newPostContent">

				<form class="newPostForm">
					<div class="titleLine">
						<span>Title:</span>
						<input type="text" name="postTitle" class="selected" placeholder="Article title...">
					</div>
					
					<br>
					<div class="articleLine">
						<span>Link:</span>
						<input type="text" name="postLink" class="selected" placeholder="Article link...">
					</div>

					<br>
					<div id="submitButton">
						<input type="submit" name="submitPost" class="roundCorner selected" value="Submit">
					</div>
					
				</form>

			</div>
		</div>

		<%= erb :footer %>

	</body>
</html>