/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: flex;
	background-color: rgb(220, 220, 220);
	margin: 0;
	min-height: 100vh;
  	flex-direction: column;
}

/*---------------------------------------------ROUNDED CORNERS-----------------------------------------------*/

.roundCorner{
	border-radius: 5px;
}

/*-------------------------------------------------HEADER----------------------------------------------------*/

.header {
	display: flex;
	background-color: #1b0f2b;
	justify-content: space-between;
	align-items: center;
	padding: 6px 20px 4px;
	margin-bottom: 30px;
}

.logo img {
	width: 120px;
}

.login {
	display: flex;
	align-items: center;
}

.login a {
	color: rgb(220, 220, 220);
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	text-decoration: none;
}

.login a:hover {
	color: #cc0000;
	font-family: 'Catamaran', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	text-decoration: none;
}

.login span {
	font-size: 1.7em;
	font-weight: 100;
	color: rgb(220, 220, 220);
}

/*-------------------------------------------------BODY------------------------------------------------------*/

.bodyContent {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0 20px;
	flex-grow: 1;
}

/*-----------------------------------------------ARTICLES----------------------------------------------------*/

.articles {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 20px;
}

.featuredImg {
	margin-right: 40px;
}

.featuredImg img {
	display: inline-block;
	width: 70px;
}

.featured {
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	padding: 30px 40px;
	margin-bottom: 20px;
}

.featuredText a {
	font-size: 2em;
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	color: #cc0000;
	text-decoration: none;
}

.article {
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	font-size: 1.3em;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	margin-bottom: 10px;
	padding: 20px 30px;
}

.articleText a {
	text-decoration: none;
	color: #210049;
}

.articleImg {
	margin-right: 40px; 
}

.articleImg img {
	display: inline-block;
	width: 40px;
}

/*-----------------------------------------------SIDE BARS---------------------------------------------------*/

.sideBars {
	display: flex;
	flex-direction: column;
}

.sidebarBox{
	padding: 17px;
	margin-bottom: 20px;
}

.userSideBar, .lowerSideBar {
	background-color: rgb(200, 200, 200);
}

::-webkit-input-placeholder { /* Chrome */
	font-size: 0.7em;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 0.7em;
}
::-moz-placeholder { /* Firefox 19+ */
	font-size: 0.7em;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	font-size: 0.7em;
}

/*----------------------------------------------SEARCH BAR---------------------------------------------------*/

.searchBox {
	margin-bottom: 13px;
}

#searchBar {
	padding: 9px 9px 12px 40px;
	border-style: solid;
	border-width: 1px;
	border-color: #1b0f2b;
	font-size: 1.5em;
	color: #cc0000;
	background: url("images/magnifyGray.png") no-repeat;
	background-position: 4% 50%;
	background-size: 20px 20px;
	background-color: rgb(220, 220, 220);
}

#searchBar:active,  #searchBar:focus {
	background-color: white;
}

#searchButton {
	background: url("images/magnify.png") no-repeat;
	background-color: rgb(220, 220, 220);
	background-size: 20px 20px;
	background-position: 50% 50%;
	width: 48px;
	height: 48px;
	border-style: none;
	margin-left: 5px;
	padding: 7px;
	border-radius: 2px;
}

#newsearch {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

/*----------------------------------------UNDERNEATH SEARCH BAR----------------------------------------------*/

.underSearch {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.underSearch span {
	font-family: 'Catamaran', sans-serif;
	font-size: 1.2em;
	color: #424242;
}

/*--------------------------------------------SORT DROP-DOWN-------------------------------------------------*/

#sortBy {
   -webkit-border-radius: 5px;
   -webkit-appearance: none;
   -moz-border-radius: 5px;
   border-radius: 5px;
   font-size: 14px;
   line-height: 18px;
   background-color: rgb(220, 220, 220) !important;
   background: url(/images/menuArrow.png) no-repeat right;
   color: #424242;
   letter-spacing: 0.5px;
   width: 126px;
   height: 29px;
   margin: 0px 4px;
   padding-left: 5px;
}

#sortBy.selected:focus {
	outline: none !important;
	border-style: solid;
	border-width: 1px;
	border-color: #cc0000;
	box-shadow: 0 0 5px #cc0000;
}

.selected:focus {
	outline: none !important;
	border-style: solid;
	border-width: 2px;
	border-color: #cc0000;
	box-shadow: 0 0 5px #cc0000;
}

input[type=submit].selected:focus {
	border-style: solid;
	border-width: 2px;
	border-color: white;
	box-shadow: 0 0 5px 3px white;
}

/*---------------------------------------------SUBMIT BUTTONS-----------------------------------------------*/

input[type=submit] {
	font-family: 'Catamaran', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: white;
	background-color: #cc0000;
	padding: 10px 15px;
	border: solid 2px #cc0000;
}

/*-------------------------------------------------FOOTER----------------------------------------------------*/

.footer {
	background-color: #1b0f2b;
	padding: 6px 0 4px;
	margin-top: 10px;
	text-align: center;
}

.footer span {
	color: rgb(220, 220, 220);
	font-family: 'Catamaran', sans-serif;
	font-size: 0.7em;
	font-weight: lighter;
}

/*-------------------------------------------------MODAL-----------------------------------------------------*/

.modalBackground {
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.modalWindow {
	background-color: rgb(220, 220, 220);
	position: fixed;
	z-index: 9999;
	border: solid 2px #1b0f2b;
}

.newPostContent {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 45px 120px
}

/*---------------------------------------------MODAL HEADER--------------------------------------------------*/

.modalHeader {
	background-color: #1b0f2b;
	padding: 9px 0px 12px;
}

.modalTitle h1 {
	font-family: 'Catamaran', sans-serif;
	color: rgb(220, 220, 220);
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
	margin: 0;
}

/*----------------------------------------------MODAL FORM---------------------------------------------------*/

.newPostForm {
	display: flex;
	flex-direction: column;
}

.newPostForm span {
	font-family: 'Catamaran', sans-serif;
	color: #1b0f2b;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.newPostForm input[type=text] {
	font-size: 1.5em;
	padding: 5px;
	color: #cc0000;
	margin-left: 20px;
}

// TODO DRY this up, and move articleLine's margin-bottom to an additional
//      class... Or find a way to use a CSS pseudo-selected to automatically
//      target the last form field in the modal.
.titleLine {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.articleLine {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 5px;
}

#submitButton {
	text-align: center;
}

/*------------------------------------------PLACEHOLDER TEXT-------------------------------------------------*/

/* Chrome */
.newPostForm input[type=text]::-webkit-input-placeholder { 
	font-weight: lighter;
}
/* IE 10+ */
.newPostForm input[type=text]:-ms-input-placeholder { 
	font-weight: lighter;
}
/* Firefox 19+ */
.newPostForm input[type=text]::-moz-placeholder { 
	font-weight: lighter;
}
/* Firefox 4 - 18 */
.newPostForm input[type=text]:-moz-placeholder { 
	font-weight: lighter;
}

/*----------------------------------------------POST PAGE----------------------------------------------------*/

.newPostContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.postPageContent {
	background-color: rgb(200, 200, 200);
	box-shadow: 0 0 5px black;
}

.postPageTitle h1 {
	color: #1b0f2b;
	font-family: 'Catamaran', sans-serif;
	text-align: center;
	font-size: 3em;
}























