/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: rgb(220, 220, 220);
	margin: 0;
	padding: 0;
}

.roundCorner{
	border-radius: 10px;
}

.header {
	display: flex;
	background-color: rgb(30, 30, 30);
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 13px 20px 10px;
	margin-bottom: 30px;
}

.logo {
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	margin: 0;
}

.login {
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
}

.bodyContent {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0 20px;
}

.articles {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 20px;
}

.featuredImg img {
	display: inline-block;
	width: 70px;
	padding-right: 40px;
	padding-left: 40px;
}

.featured {
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	min-width: 100%;
	max-width: 100%;
	padding: 30px 0px 30px 0px;
	margin-bottom: 10px;
}

.featuredText {
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
}

.article {
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	font-size: 1.3em;
	font-family: sans-serif;
	text-align: center;
	margin: 7px 0px 7px 0px;
	padding: 20px 0px 20px 0px;
	min-width: 100%;
}

.articleImg img {
	display: inline-block;
	width: 40px;
	padding-right: 20px;
	padding-left: 20px;
}

.sideBars {
	display: flex;
	flex-direction: column;
}

.sidebarBox{
	padding: 20px;
	margin-bottom: 20px;
}

.userSideBar {
	background-color: rgb(200, 200, 200);
}

.lowerSideBar {
	background-color: rgb(200, 200, 200);
}

.searchBar {
}

#searchBar {
	padding: 3px 9px 3px 40px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(30, 30, 30);
	font-size: 1.5em;
	background: url("images/magnifyGray.png") no-repeat;
	background-position: 4% 50%;
	background-size: 20px 20px;
	background-color: white;
}

.searchBar input[type=button] {
	background: url("images/magnify.png") no-repeat;
	background-color: rgb(220, 220, 220);
	background-size: 20px 20px;
	background-position: 50% 50%;
	width: 32px;
	height: 32px;
	border-style: none;
	margin-left: 5px;
	padding: 7px;
}








